<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Completed your account link.</title>
</head>

<body>
<center>
    <a href="{{.}}><h1>Click link to completed account link</h1></a>   <br> 
</center>
</body>
</html>